*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

/* navigation bar */
nav{
    height: 11vh;
    width: auto;
    background-color: #333;
    background-image: url(main.jpg);
    background-size: cover;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}


img{
    border-radius: 50%;
    height: 2.1rem;
}
.navbtn{
    color: aliceblue;
    background-color: #4e4b4b;
    padding: 0.3rem;
    border-radius: 5px;
    text-decoration: none;
}
/* Header section */

header{
    height: 200px;
    background-color: #4e4b4b;
    color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(nature.jpg);
    background-size: cover;
}

.thought{
    color: aliceblue;
}
.btn{
    background-color: #333;
    color: aliceblue;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 5px;
}
/* content side */
.content{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    background-image: url(sky.jpg);
    background-size: cover;

}
h1{
    color: aqua;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}

input, textarea{
    padding: 5px 10px;
    border-radius: 5px;
}

footer{
    background-color: rgb(60, 60, 68);
    height: 40px;
    text-align: center;
}
